
CREATE TABLE inquiries (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL,
  name text NOT NULL,
  company text,
  phone text NOT NULL,
  email text NOT NULL,
  location text,
  project_type text,
  project_size text,
  message text,
  status text DEFAULT 'unread'
);

ALTER TABLE inquiries ENABLE ROW LEVEL SECURITY;
CREATE POLICY \
Allow
public
insert\ ON inquiries FOR INSERT WITH CHECK (true);
CREATE POLICY \Allow
public
read
access\ ON inquiries FOR SELECT USING (true);
CREATE POLICY \Allow
public
update\ ON inquiries FOR UPDATE USING (true) WITH CHECK (true);
CREATE POLICY \Allow
public
delete\ ON inquiries FOR DELETE USING (true);

